# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# misc
.DS_Store
Thumbs.db
*.pem

# uploads (if local uploads used)
/uploads

# editor
.vscode/*
!.vscode/extensions.json

# macOS
.AppleDouble
.LSOverride

# temporary
*.tmp
*.temp

.README.md
.AGENTS.md
.CLAUDE.md